<!DOCTYPE html>
<html>
<head>
    <title>Password reset request</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Password reset request</h1>
<p>Hello {username},</p>
<p>We received a request to reset your password. If you did not make this request, please ignore this email.</p>
<p>To reset your password, please click on the following link:</p>
<p><a href="{resetLink}">{resetLink}</a></p>
<p>This link will expire in 1 hour.</p>
<p>Thank you,</p>
<p>The Sombrero Quark Team</p>
</body>
</html>