<!DOCTYPE html>
<html>
<head>
    <title>Verify your email address</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Verify your email address</h1>
<p>Hi {username},</p>
<p>Thank you for signing up for our service. To complete your registration, please click on the following link to verify your email address:</p>
<p><a href="{verificationLink}">{verificationLink}</a></p>
<p>If you didn't sign up for our service, please ignore this email.</p>
<p>Thank you,</p>
<p>The Sombrero Quark Team</p>
</body>
</html>